#editor {
    height: 500px;
    margin: 0px;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#console {
    background: black;
    height: 500px;
    margin: 0px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    overflow-x: scroll;
    overflow-y: scroll;
}

#run {
    width: 100%;
    font-size: 20px;
}

#clear {
    width: 100%;
    font-size: 20px;
}