body {
	background: #f6f5f7;
	/*
	background: #61A4F1;
	background: -webkit-linear-gradient(to right, #73AEF5,#61A4F1,#478DE0,#398AE5);
	background: linear-gradient(to right, #73AEF5,#61A4F1,#478DE0,#398AE5);
	background-repeat: no-repeat;
	*/
}

.login-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

.login-body .alert {
	font-size: small;
}

.login-body h1 {
	font-weight: bold;
	margin: 0 0 10px 0;
}

.login-body h2 {
	text-align: center;
}

.login-body p {
	text-decoration-color: white;
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.login-body span {
	font-size: 12px;
}

.login-body a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.sign-in-up-button {
	border-radius: 20px;
	border: 1px solid #61A4F1;
	background-color: #61A4F1;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.sign-in-up-button:active {
	transform: scale(0.95);
}

.sign-in-up-button:focus {
	outline: none;
}

.login-body button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.login-body form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.login-body input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.login-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 820px;
	max-width: 100%;
	min-height: 550px;
}

.login-body .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.login-body .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 1;
}

.login-container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.login-body .sign-up-container {
	left: 0;
	width: 50%;
	z-index: 1;
}

.login-container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	z-index: 2;
}

.login-body .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.login-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.login-body .overlay {
	background: #61A4F1;
	background: -webkit-linear-gradient(to right, #73AEF5,#61A4F1,#478DE0,#398AE5);
	background: linear-gradient(to right, #73AEF5,#61A4F1,#478DE0,#398AE5);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.login-body .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.login-body .overlay-left {
	transform: translateX(-20%);
}

.login-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.login-body .overlay-right {
	right: 0;
	transform: translateX(0);
}

.login-container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.login-body .social-container {
	margin: 0 0 10px 0;
}

.login-body .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}