body {
    background: white;
  }
.card {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    border-radius: 30px;
    background: #000000;
  }
  
  .card-footer {
    background: #1f1e1e;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    font-size: 1.6rem;
    color: #54a3db;
  }
  
  .card-header {
    border-radius: 30px !important;
    border: 0px;
    font-size: 5rem;
    color: white;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    background: #353434;
  }

  .card:active {
      transform: scale(1.01);
      box-shadow: 0px 0px 8px rgb(0, 0, 0);
      background: #353434;
  }

  .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }