<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easy Drive</title>
    <link rel="icon" href="{{ url_for('static', filename='images/easydrive-logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid d-flex flex-column m-0 p-0" style="min-height: 100vh;">
        <div class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-4 bg-white border-bottom box-shadow" style="min-height: 5vh;">
            {% block nav %}
            {% endblock %}
            <h5 class="my-2 ml-5 mr-md-auto font-weight-bold">
                <a class="mr-md-3" href="{{ url_for('index') }}" style="text-decoration: none;">
                    EasyDrive
                </a>
            </h5>
            <nav class="my-2 my-md-0 mr-md-5">
                {% if request.path != '/' %}
                <a class="mr-md-3" href="{{ url_for('index') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-primary">
                        Home
                    </button>
                </a>
                {% endif %}
                {% if session['usr_id'] and request.path != '/profile' %}
                <a class="mr-md-3" href="{{ url_for('profile') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-dark">
                        Profile
                    </button>
                </a>
                {% endif %}
                {% if not session['usr_id'] and request.path != '/login' %}
                <a class="mr-md-3" href="{{ url_for('login') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-warning border border-dark">
                        Sign In / Up
                    </button>
                </a>
                {% endif %}
                {% if session['usr_id'] and admin %}
                <a class="mr-md-3" href="http://easydrive.cs-campus.fr/api/download/database" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-warning">
                        Download
                    </button>
                </a>
                {% if request.path == '/database' %}
                    <button id="process" type="button" class="btn btn-outline-danger mr-md-3">
                        Process
                    </button>
                {% endif %}
                {% if request.path != '/database' %}
                <a class="mr-md-3" href="{{ url_for('db') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-primary">
                        Database
                    </button>
                </a>
                {% endif %}
                {% if request.path != '/visualize' %}
                <a class="mr-md-3" href="{{ url_for('visualize') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-primary">
                        Visualize
                    </button>
                </a>
                {% endif %}
                {% if request.path == '/visualize' or  request.path == '/database' or  request.path == '/profile' %}
                <button id="refresh" type="button" class="btn btn-outline-info mr-md-3">
                  Refresh
                </button>
                {% endif %}
                {% endif %}
                {% if session['usr_id'] %}
                <a class="mr-md-3" href="{{ url_for('logout') }}" style="text-decoration: none;">
                    <button type="button" class="btn btn-outline-danger mr-md-3">
                        Logout
                    </button>
                </a>
                {% endif %}
            </nav>
        </div>
        <div class="row justify-content-center align-items-center m-0" style="flex: 1 1 auto;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>