<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/easydrive-logo.png') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous"
    integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU="></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/theme-monokai.min.js" crossorigin="anonymous"></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/mode-python.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/code.css') }}">
</head>

<body style="min-height: 100vh; display: flex; flex-direction: column;">
  <div
    class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 ml-5 mr-md-auto font-weight-bold">EasyDrive Coding</h5>
    <nav class="my-2 my-md-0 mr-md-5">
      <a class="mr-md-3" href="./database" style="text-decoration: none;">
        <button type="button" class="btn btn-outline-primary">
          Database
        </button>
      </a>
      <button id="refresh" type="button" class="btn btn-outline-info">
        Refresh
      </button>
    </nav>
  </div>
  <div>
    <div class="easy-logo text-center mt-4 mb-4">
      <img src="{{ url_for('static', filename='images/easydrive-logo.png') }}" height="200" />
    </div>
    <div style="margin: 0px; padding-left: 5%; padding-right: 5%;"
      class="row align-items-stretch justify-content-around">
      <div class="col-5" id="editor" aria-placeholder="Enter your code ..."></div>
      <div class="col-1 my-auto text-center">
        <div class="row mb-4">
          <button id="run" type="button" class="btn btn-success">
            Run
          </button>
        </div>
        <div class="row mt-4">
          <button id="clear" type="button" class="btn btn-danger">
            Clear
          </button>
        </div>
      </div>
      <div class="col-5" id="console"></div>
    </div>
  </div>
  <div style="flex-grow:1"></div>
  <footer class="mt-4">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="http://easydrive.cs-campus.fr/">Easy Drive</a>
    </div>
  </footer>
</body>
<script src="{{ url_for('static',    filename='javascripts/code.js') }}"></script>

</html>