{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/database.css') }}">
{% endblock %}

{% block content %}
  <div class="container-fluid m-5 px-5">
    <div class="text-center mt-4 mb-4">
        <img src="{{ url_for('static', filename='images/easydrive-logo.png') }}" height="200"/>
    </div>
    <div class="text-center mx-5 mb-4">
        <div class="btn-group btn-group-lg shadow-0" role="group" aria-label="Database Tables">
          {% for table in tables %}
            <button id="{{ table }}" type="button" class="btn btn-outline-primary" data-mdb-color="dark">
            {{ table.replace("_"," ").title() }}
            </button>
          {% endfor %}
          </div>
    </div>
    <table id="db_table" class="table table-hover table-bordered"></table>
  </div>
  <footer class="container-fluid p-0 mt-1">
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="http://easydrive.cs-campus.fr/">Easy Drive</a>
      </div>
  </footer>
  <script>
    let tables = {{ tables | tojson }};
  </script>
  <script src="{{ url_for('static',    filename='javascripts/database.js') }}"></script>
{% endblock %}