{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center" style="height: fit-content;">
  <img src="{{ url_for('static', filename = 'images/easydrive-logo.png') }}" height="300"/>
  <h1 class="title display-3 mt-4 mb-2">
    <strong>
      EasyDrive
    </strong>
  </h1>
  <p class="subtitle display-4">
    Coaching service for driving
  </p>
</div>
{% endblock %}