{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid login-body m-0">
	<div class="login-container" id="container">
		<div class="form-container sign-up-container">
			<form action="/api/signup" method="post">
				<h1 class="title">Create Account</h1>
				{% if message %}
						{% if message[0] == 'signup'  %}
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							{{ message[1] }}
							<button type="button" class="close mr-3 mt-2 p-0" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endif %}
				{% endif %}
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				<input type="text" name="name" placeholder="Name" />
				<input type="email" name="email" placeholder="Email" />
				<input type="password" name="password" placeholder="Password" />
				<button class="sign-in-up-button" type="submit">Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="/api/signin" method="post">
				<h1 class="title">Sign in</h1>
				{% if message %}
						{% if message[0] == 'login' %}
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							{{ message[1] }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endif %}
				{% endif %}
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input type="email" name="email" placeholder="Email" />
				<input type="password" name="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button class="sign-in-up-button" type="submit">Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start your journey with us</p>
					<p><b>Already have an account ?</b></p>
					<button class="sign-in-up-button ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<p><b>Don't have an account ?</b></p>
					<button class="sign-in-up-button ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% if not login %}
	<script>
		container.classList.add("right-panel-active");
	</script>
{% endif %}
<script src="{{ url_for('static', filename='javascripts/login.js') }}"></script>
{% endblock %}
