{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid m-0 h-100" id="holder">
  <h1 class="title text-center">
    Welcome, {{ name }}!
  </h1>
</div>
<script>
  let userId = "{{ user_id }}";
  let name = "{{ name }}";
</script>
<script src="{{ url_for('static',    filename='javascripts/profile.js') }}"></script>
{% endblock %}

