{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/visualize.css') }}">
{% endblock %}

{% block nav %}
<button id="previous_button" class="btn btn-outline-dark hBack ml-5" type="button" style="display: none;">Previous</button>
{% endblock %}

{% block content %}
    <div class="container-fluid m-5 px-5">
        <div class="text-center mt-2 mb-3">
            <img src="{{ url_for('static', filename='images/easydrive-logo.png') }}" height="200"/>
        </div>
        <div id="cards" class="row  mx-5 mb-4 align-items-stretch justify-content-around">

        </div>
        <div id="container" class="container" style="display: none;"></div>
    </div>
    <footer class="container-fluid p-0  mt-1">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="http://easydrive.cs-campus.fr/">Easy Drive</a>
        </div>
    </footer>
<script src="{{ url_for('static',    filename='javascripts/visualize.js') }}"></script>
{% endblock %}